<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add attraction</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<h1>Tilføj turistattraktion</h1>
<div class="add">
<form th:action="@{/attractions/save}" th:object="${touristAttraction}" method="post">
    <label class="addLabel" for="name">Navn</label>
    <input class="placeholder" type="text" id="name" th:field="*{name}">
    <br><label class="addLabel" for="description">Beskrivelse</label>
    <input class="placeholder" type="text" id="description" th:field="*{description}">
    <br><label class="addLabel "for="city">By</label>
    <input class="placeholder" type="text" id="city" th:field="*{city}">
    <div class="tags"><br><label for="tags">Tags:</label>
    <br><th:block th:each="obj : ${tags}">
        <input type="checkbox" id="tags" th:field="*{tags}" th:value="${obj}" th:text="${obj.getDisplayName()}">
    </th:block> </div>

    <br><button class="button" method="submit">Gem</button>
   <button class="button" href="/cocktails">Fortryd</button>
</form>
</div>

</body>
</html>