<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attraction List</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>Turistattraktioner:</h1>

<ul>
    <li th:each="turistAttraction : ${attractions}">
        <a th:href="@{'/attraction/attraction?name=' + ${turistAttraction}}" th:text="${turistAttraction.getName()}"></a>
    </li>
</ul>

<table>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>By</th>
        <th> </th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Opdater</td>
        <td>Slet</td>
        <td>Tags</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Opdater</td>
        <td>Slet</td>
        <td>Tags</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Opdater</td>
        <td>Slet</td>
        <td>Tags</td>
    </tr>
</table>

</body>
</html>