<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Attraction</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>

<body>
<h1 th:text="${name}"> - Opdater informationer for attraktionen </h1>
<div class="add">
    <form th:action="@{/attractions/{name}/update(name=${touristAttraction.name})}"
          th:object="${touristAttraction}"
          method="post">

    <label for="name">Navn</label>
    <input class="placeholder" type="text" id="name" th:field="*{name}">

    <br><label for="description">Beskrivelse</label>
    <input class="placeholder" type="text" id="description" th:field="*{description}">

    <br><label for="city">By</label>
        <select id="city" name="city" th:field="*{city}">
            <option th:each="city: ${cities}" th:value="${city}" th:text="${city}"></option>
        </select>
    <div class="tags">
    <br><label for="tags">Tags</label>
    <br><th:block th:each="tag : ${tags}">
    <input type="checkbox" id="tags" th:field="*{tags}" th:value="${tag}" th:text="${tag}">
</th:block> </div>

    <br><button class="button" type="submit">Gem ændringer</button>

</form>
</div>

<!-- gå tilbage til startside knap -->
<form th:action="@{/attractions}" method="get">
    <button class="button" type="submit">Tilbage</button>
</form>

</body>
</html>